/* General body styling */
body {
    background-color: #6A3100; /* Dark orange background */
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; Was centering*/
    align-items: center;
    height: 100vh;
}

/* Main container box */
.container {
    background-color: #FF6C00; /* Darker orange background */
    border: 3px solid #9D4300; /* Orange outline */
    border-radius: 10px; /* Rounded corners */
    padding: 3px 3px; /* Thinner padding on the X-axis */
    text-align: center;
    width: 80%; /* Set a width for the container */
    max-width: 600px; /* Max width for better responsiveness */
    margin-top: 10px; /* Adds 10px space above the container */
}

/* Heading styling */
h1 {
    font-size: 3em;
    margin-bottom: 15px;
}

/* Paragraph styling */
p {
    font-size: 1.5em;
    margin-top: 0;
}
